TZ=Europe/Lisbon
DOMAIN=example.home.arpa

# VPN credentials/provider are shared via ../.env.vpn
UPDATER_PERIOD=24h
FIREWALL=on
FIREWALL_OUTBOUND_SUBNETS=100.64.0.0/10,172.28.0.0/16
FIREWALL_INPUT_PORTS=8080
FIREWALL_VPN_INPUT_PORTS=8080
OPENVPN_MSSFIX=1368

NO_CORS=1
SERVER_URL=https://stremio.example.home.arpa/
CASTING_DISABLED=1
