# User/Group IDs
PUID=1000
PGID=1000

# Timezone
TZ=Europe/Lisbon

# VPN credentials/provider are shared via ../.env.vpn
UPDATER_PERIOD=24h
FIREWALL=on
FIREWALL_OUTBOUND_SUBNETS=100.64.0.0/10,172.28.0.0/16
FIREWALL_INPUT_PORTS=8083,6881
FIREWALL_VPN_INPUT_PORTS=8083,6881
OPENVPN_MSSFIX=1368

WEBUI_PORT=8083
TORRENTING_PORT=6881
