# Shared values used across multiple compose projects

SERVICE=caddy
IMAGE_URL=caddy:latest

PUID=1000
PGID=1000

TZ=Europe/Lisbon
DOMAIN=example.home.arpa

CADDY_CERT_PATH=/etc/caddy/certs/example.home.arpa+1.pem
CADDY_CERT_KEY_PATH=/etc/caddy/certs/example.home.arpa+1-key.pem

OPENVPN_USER=replace-me
OPENVPN_PASSWORD=replace-me
SERVER_CITIES=lisbon

TS_AUTHKEY=tskey-auth-replace-me
