*
!/.gitignore
!/README.md
!/.env.global.example

!/0-templates/
!/actualbudget/
!/aiostreams/
!/arcane/
!/caddy/
!/dashy/
!/file-browser/
!/home-assistant/
!/immich/
!/kavita/
!/mealie/
!/qBittorrent/
!/spotify/
!/stremio/
!/tsidp/

!0-templates/**

!actualbudget/compose.yaml
!actualbudget/.env.example

!aiostreams/compose.yaml
!aiostreams/.env.example

!arcane/docker-compose.yml
!arcane/.env.example

!caddy/compose.yml
!caddy/.env.example
!caddy/conf/
!caddy/conf/Caddyfile

!dashy/compose.yaml
!dashy/.env.example
!dashy/config/
!dashy/config/conf.yml

!file-browser/compose.yaml
!file-browser/.env.example
!file-browser/config/
!file-browser/config/settings.json

!home-assistant/compose.yaml
!home-assistant/.env.example
!home-assistant/config/
home-assistant/config/*
!home-assistant/config/*.yaml
!home-assistant/config/blueprints/
!home-assistant/config/blueprints/**

!immich/docker-compose.yml
!immich/.env.example

!kavita/compose.yaml
!kavita/.env.example
!kavita/config/
kavita/config/*
!kavita/config/appsettings.json
!kavita/config/templates/
!kavita/config/templates/**
!kavita/config/themes/
!kavita/config/themes/**

!mealie/compose.yaml
!mealie/.env.example

!qBittorrent/compose.yaml
!qBittorrent/.env.example

!spotify/compose.yaml
!spotify/.env.example

!stremio/compose.yaml
!stremio/.env.example

!tsidp/compose.yaml

.env.global
**/.env
**/certs/**
**/logs/**
**/backups/**
**/cache/**
**/cache-long/**
**/tmp/**
**/state/**
**/.storage/**
**/.cloud/**
**/deps/**
**/*.db
**/*.db-*
**/*.sqlite*
**/*.log*
**/library/**
**/upload/**
**/thumbs/**
**/encoded-video/**
**/downloads/**
**/actual-data/**
**/database/**
**/user-files/**
**/server-files/**
**/appdata/**
**/gluetun-data/**
**/stremio-data/**
home-assistant/config/secrets.yaml
