UPLOAD_LOCATION=./library
DB_DATA_LOCATION=./postgres
IMMICH_VERSION=release
DB_PASSWORD=replace-me
DB_USERNAME=postgres
DB_DATABASE_NAME=immich
DOMAIN=example.home.arpa
CADDY_CERT_PATH=/etc/caddy/certs/example.home.arpa+1.pem
CADDY_CERT_KEY_PATH=/etc/caddy/certs/example.home.arpa+1-key.pem
