# Immich Service Configuration
# Global variables (DOMAIN, CADDY_CERT_PATH, CADDY_CERT_KEY_PATH) are in ../.env.global

UPLOAD_LOCATION=./library
DB_DATA_LOCATION=./postgres
IMMICH_VERSION=release
DB_PASSWORD=replace-me
DB_USERNAME=postgres
DB_DATABASE_NAME=immich
