ADDON_NAME=AIOStreams
ADDON_ID=aiostreams.homelab.home.arpa
PORT=3000
BASE_URL=https://aiostreams.homelab.home.arpa
SECRET_KEY=replace-with-openssl-rand-hex-32
ADDON_PASSWORD=
DATABASE_URI=sqlite://./data/db.sqlite
